<div class="nav-collapse pull-right">
  {% if auth_user is defined and auth_user is not empty %}
  <p class="navbar-text"><i class="icon-user icon-white"></i> {{ auth_user }}</p>
  <!-- <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-user"></i> {{ auth_user }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{ urlFor('index') }}">Change User</a></li>
    </ul>
  </div> -->
  {% else %}
  <a href="{{ urlFor('login') }}" class="btn"><i class="icon-user"></i>&nbsp;Login</a>
  {% endif %}
</div><!--/.nav-collapse -->

<div class="nav-collapse">
  {% if brand is defined and accounts is defined %}
    <ul class="nav">
      <li class="dropdown active">
        <a href="#"
              class="dropdown-toggle"
              data-toggle="dropdown">
              {{ brand }}
              <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-header">Account list</li>
          {% for accountid, account in accounts %}
            <li><a href="{{ urlFor('account', {"accountid": accountid }) }}">{{ account['mite_customer_name'] }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  {% endif %}
  {% if account_id is defined and account_name is defined and projects is defined %}
    <ul class="nav">
      <li class="dropdown active">
        <a href="#"
              class="dropdown-toggle"
              data-toggle="dropdown">
              {{ account_name }}
              <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-header">Project list</li>
          {% for project in projects %}
            <li><a href="{{ urlFor('project', {"accountid": account_id, "projectid": project['project']['id']}) }}">{{ project['project']['name']}}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  {% endif %}
</div><!--/.nav-collapse -->