{% include 'includes/header.twig' %}

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Welcome!</h1>
    <blockquote class="pull-right">
      <p>A lot of work has already been done.</p>
      <small>{{ brand }}</small>
    </blockquote>
  </div>

  <div class="page-header">
    <h1>Accounts <small>{{ brand }}</small></h1>
  </div>
  
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="actions">&nbsp;</th>
        <th>Id</th>
        <th>mite. Customer Name</th>
        <th>Informal Salutation</th>
      </tr>
    </thead>
    <tbody>
      {% for accountid, account in accounts %}
        <tr>
          <td class="pull-right">
            <a href="{{ urlFor('account', {"accountid": accountid }) }}" class="btn btn-info btn-mini"><i class="icon-briefcase icon-white"></i>&nbsp;Account info&nbsp;»</a>
          </td>
          <td>
            {{ accountid }}
          </td>
          <td>
            {{ account['mite_customer_name'] }}
          </td>
          <td>
            {{ account['informal_salutation'] }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'includes/copyright.twig' %}

</div> <!-- /container -->

{% include 'includes/footer.twig' %}